:root {
    --bg-color: #111316;
    --text-primary: #EEEEEE;
    --text-secondary: #B1B1B1;
}

body {
    background-color: var(--bg-color);
    font-family: "Inter", serif;
    margin: 0;
}

/* === Nav Bar === */

#logo-text {
    color: #EEEEEE;
    font-weight: bold;
    font-size: 1rem;
    align-self: center;
}

.logo {
    display: flex;
    gap: 10px;

}

.hamburger {
    width: 50%;
    cursor: pointer;
}

#logo-img {
    width: 15%;
    align-self: center;
}

/* Replace with hamburger icon on mobile */
ul {
    list-style-type: none;
    color: #D0D0D0;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    gap: 3rem;
    margin: 0;
    padding: 0;
    align-self: center;
    visibility: hidden;
    display: none;
}

nav {
    display: flex;
    margin: 2em 3em 6em 3em;
    justify-content: space-between;
}

/* === Hero Section === */
header {
    padding-bottom: 7em;
    background-image: linear-gradient(#111316 80%, #13223A);
}

#hero-title {
    color: #EEEEEE;
    font-size: 2.5rem;
    letter-spacing: 4px;
    line-height: 1.25;
    margin: 0;
}

span {
    background: -webkit-linear-gradient(#45ABEB 50%, #0D2A69);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hero-text {
    color: #D0D0D0;
    font-size: 1rem;
    margin: 3rem 0;
    line-height: 1.5;
}

.hero-button{
    color: #EEEEEE;
    font-size: 0.75rem;
    font-weight: bold;
    background-color: #5592B9;
    padding: 1.25em 2.5em;
    border-radius: 15px;
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero-button.hero-button-inverted{
    background-color: #111316;
    border: #5592B9 3px solid;

}

.hero-image{
    display: none;
}

.hero-button:hover {
    background-color: #5B29AB;
}

.hero-button-inverted:hover {
    background-color: #5592B9;
}

#hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-container {
    text-align: center;
    width: 90%;
}

/* === Features === */

#features-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 7em;
    background-image: linear-gradient(#13223A, #111316 20%);
}

#features-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 90%;
}

.section-title {
    color: var(--text-primary);
    font-size: 2rem;
    font-weight: 500;
    padding: 1.5em 0;
    margin-bottom: 0;
}

.features-card {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 1px #3057AA solid;
    box-shadow: 0 0 10px #3057AA;
    border-radius: 15px;
    width: 80%;
    padding: 1em;
}

.features-title {
    color: var(--text-primary);
    margin-bottom: 0;
}

.features-text {
    color: var(--text-secondary);
    line-height: 1.5em;
}

.features-icon {
    width: 1em;
}

/* ==== Tablet ==== */
@media (min-width: 768px) {
    ul{
        visibility:visible;
        display: flex;
    }

    .hamburger {
        display: none;
    }

    #features-container {
        flex-direction: row;
        align-items: stretch;
    }

    .features-card {
        align-self: stretch;
    }
}


/* ==== Laptop ==== */
@media (min-width: 1100px) {
    #logo-text {
        font-size: 1.5rem;
    }

    .hero-image{
        width: 100%;
        min-width: 400px;
        display: inline;
    }

    #hero-title {
        font-size: 4rem;
    }

    #hero-text {
        font-size: 1.25rem;
    }

    .hero-button {
        font-size: 1rem;
        margin-bottom: 1em;

    }

    .hero-button.hero-button-inverted {
        visibility: visible;
    }

    #hero-section {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 6em;
        gap: 4em;
    }

    .hero-container {

    }

    .hero-container.left{
        text-align: start;
        padding-left: 4em;
        flex: 2;
    }

    .hero-container.right {
        flex: 1;
    }
    .hero-image {

    }

    .section-title {
        font-size: 3rem;
    }


}
